# Checkpoints Jupyter
.ipynb_checkpoints/

# Fichiers de données (ajoute/enlève ceux que tu veux suivre ou ignorer)
*.csv
*.xlsx
*.pdf

# Dossier de données (ajoute-le si besoin)
data/
# ou /data/ si tu veux ignorer uniquement à la racine

# Config IDE
.idea/
.vscode/
